.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh !important;
  overflow: hidden;
}

.main-body {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow: auto;
  background-color: var(--darker-light-color);

  .main-container {
    background-color: white;
    box-shadow: 0 0 10px var(--dark-color);

    display: flex;
    min-height: 100%;
    height: fit-content;
    min-width: 300px;
    width: fit-content;
  }
}
