<div class="form-container">
  <div id="avatar-preview" class="avatar-preview">
    <img
      id="avatar-img"
      src="{{ imgSource }}"
      alt="Avatar"
      class="avatar-preview"
    />
  </div>
  <form
    id="form"
    [formGroup]="userInformationFormGroup"
    (ngSubmit)="onFormSubmit()"
    class="form-body"
  >
    <div class="form-group">
      <label for="first-name">{{
        "main.userInformation.firstName" | translate
      }}</label>
      <input
        id="first-name"
        name="first-name"
        type="text"
        formControlName="firstName"
        required
      />
      <span
        *ngIf="firstNameControl.invalid && firstNameControl.touched"
        id="first-name-error"
        class="error-warning"
        >{{
          "main.userInformation.firstNameError"
            | translate: { min: firstNameLengthMin, max: firstNameLengthMax }
        }}</span
      >
    </div>

    <div class="form-group">
      <label for="last-name">{{
        "main.userInformation.lastName" | translate
      }}</label>
      <input
        id="last-name"
        name="last-name"
        type="text"
        formControlName="lastName"
        required
      />
      <span
        *ngIf="lastNameControl.invalid && lastNameControl.touched"
        id="last-name-error"
        class="error-warning"
        >{{
          "main.userInformation.lastNameError"
            | translate: { min: lastNameLengthMin, max: lastNameLengthMax }
        }}</span
      >
    </div>

    <div class="form-group">
      <label for="email">{{ "main.userInformation.email" | translate }}</label>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="name@domain.com"
        formControlName="email"
        required
      />
      <span
        *ngIf="emailControl.invalid && emailControl.touched"
        id="email-error"
        class="error-warning"
        >{{ "main.userInformation.emailError" | translate }}</span
      >
    </div>

    <div class="form-group">
      <label for="phone">{{
        "main.userInformation.phoneNo" | translate
      }}</label>
      <input id="phone" name="phone" formControlName="phone" required />
      <span
        *ngIf="phoneControl.invalid && phoneControl.touched"
        id="phone-error"
        class="error-warning"
        >{{ "main.userInformation.phoneNoError" | translate }}</span
      >
    </div>

    <div class="form-group">
      <label for="birthday">{{
        "main.userInformation.birthday" | translate
      }}</label>
      <input
        id="birthday"
        name="birthday"
        type="date"
        formControlName="birthday"
        required
      />
      <span
        *ngIf="birthdayControl.invalid && birthdayControl.touched"
        id="birthday-error"
        class="error-warning"
        >{{
          "main.userInformation.birthdayError"
            | translate
              : {
                  min: birthdayDateMin | date: "d.MM.yyyy",
                  max: birthdayDateMax | date: "d.MM.yyyy"
                }
        }}</span
      >
    </div>

    <div class="form-group">
      <label for="about">{{ "main.userInformation.about" | translate }}</label>
      <textarea id="about" name="about" formControlName="about"></textarea>
      <span
        *ngIf="aboutControl.invalid && aboutControl.touched"
        id="about-error"
        class="error-warning"
        >{{
          "main.userInformation.aboutError" | translate: { max: aboutMaxLength }
        }}</span
      >
    </div>

    <div class="form-group">
      <label for="avatar">{{
        "main.userInformation.avatar" | translate
      }}</label>
      <app-file-upload-input
        [id]="'avatar'"
        [name]="'avatar'"
        [accept]="avatarFormatJoin"
        formControlName="avatar"
        class="input"
      ></app-file-upload-input>
      <span
        *ngIf="avatarControl.invalid && avatarControl.touched"
        id="avatar-error"
        class="error-warning"
        >{{
          "main.userInformation.avatarError" | translate: { type: avatarFormat }
        }}</span
      >
    </div>

    <div id="buttons" class="buttons-container">
      <button
        id="submit-button"
        type="submit"
        [disabled]="submitButtonDisabled"
      >
        {{ "main.userInformation.submit" | translate }}
      </button>
      <button id="reset-button" type="button" (click)="onFormReset()">
        {{ "main.userInformation.reset" | translate }}
      </button>
    </div>
  </form>
</div>
