:host {
  display: flex;
  width: var(--sm-breakpoint);
}

.form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
}

.avatar-preview {
  align-self: center;
  height: 300px;
  width: 300px;
  margin-bottom: 1rem;

  img {
    border-radius: 50%;
    object-fit: contain;
  }
}

@media screen and (max-width: 576px) {
  .avatar-preview {
    height: 200px;
    width: 200px;
    margin-bottom: 0.8rem;
  }
}

@media screen and (max-width: 420px) {
  .avatar-preview {
    height: 150px;
    width: 150px;
    margin-bottom: 0.6rem;
  }
}

.form-body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .form-group {
    width: 100%;
    margin-bottom: 1rem;
    display: grid;

    input,
    textarea {
      height: min-content;
    }

    .error-warning {
      color: red;
    }
  }

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;

    button {
      width: 150px;
    }
  }

  @media screen and (min-width: 421px) {
    .form-group {
      grid-template-columns: 1fr 2fr;
      column-gap: 1rem;

      input,
      textarea {
        align-self: end;
      }

      .error-warning {
        grid-column: 2;
      }
    }

    .buttons-container {
      justify-content: center;
      column-gap: 1rem;
    }
  }

  @media screen and (max-width: 420px) {
    .form-group {
      grid-template-columns: 1fr;
    }

    .buttons-container {
      flex-direction: column;
      justify-content: center;
      row-gap: 1rem;
    }
  }
}

.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}
