:host {
  display: flex;
  width: var(--sm-breakpoint);
}

.profile-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;

  .about-content {
    word-break: break-word;
  }
}

.avatar-preview {
  align-self: center;
  height: 300px;
  width: 300px;
  margin-bottom: 1rem;

  img {
    border-radius: 50%;
    object-fit: contain;
  }
}

@media screen and (max-width: 576px) {
  .avatar-preview {
    height: 200px;
    width: 200px;
    margin-bottom: 0.8rem;
  }
}

@media screen and (max-width: 420px) {
  .avatar-preview {
    height: 150px;
    width: 150px;
    margin-bottom: 0.6rem;
  }
}

.profile-data {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .profile-data-row {
    width: 100%;
    margin-bottom: 1rem;
    display: inline-grid;

    label {
      font-weight: bold;
    }
  }

  @media screen and (min-width: 421px) {
    .profile-data-row {
      grid-template-columns: 1fr 2fr;
      column-gap: 1rem;

      label {
        grid-column: 1;
      }

      span {
        grid-column: 2;
        align-self: end;
      }
    }
  }

  @media screen and (max-width: 420px) {
    .profile-data-row {
      grid-template-columns: 1fr;
      column-gap: 1rem;
    }

    span {
      grid-column: unset;
    }
  }
}
