<div class="profile-container">
  <div id="avatar-preview" class="avatar-preview">
    <img
      id="avatar-img"
      src="{{ imgSource }}"
      alt="Avatar"
      class="avatar-preview"
    />
  </div>
  <div class="profile-data">
    <div class="profile-data-row">
      <label id="first-name-label">{{
        "main.userProfile.firstName" | translate
      }}</label>
      <span id="first-name">{{ userData?.firstName }}</span>
    </div>

    <div class="profile-data-row">
      <label id="last-name-label">{{
        "main.userProfile.lastName" | translate
      }}</label>
      <span id="last-name">{{ userData?.lastName }}</span>
    </div>

    <div class="profile-data-row">
      <label id="email-label">{{ "main.userProfile.email" | translate }}</label>
      <span id="email">{{ userData?.email }}</span>
    </div>

    <div class="profile-data-row">
      <label id="phone-label">{{
        "main.userProfile.phoneNo" | translate
      }}</label>
      <span id="phone">{{ userData?.phone }}</span>
    </div>

    <div class="profile-data-row">
      <label id="birthday-label">{{
        "main.userProfile.birthday" | translate
      }}</label>
      <span id="birthday">{{ userData?.birthday | date }}</span>
    </div>

    <div class="profile-data-row">
      <label id="about-label">{{ "main.userProfile.about" | translate }}</label>
      <span id="about" class="about-content">{{ userData?.about }}</span>
    </div>
  </div>
</div>
