:host {
  display: flex;
  flex-grow: 1;
}

.navbar {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem;

  .toggler {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: solid var(--light-color) 1px;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    justify-content: end;

    .navbar-items {
      display: flex;
      flex-direction: column;
      column-gap: 0.5rem;
      background-color: var(--dark-color);
      position: absolute;
      top: 50px;
      transform-origin: top center;
      animation: rotateX 800ms ease-in-out forwards;

      .nav-item {
        padding: 1rem;

        &:not(:first-child) {
          border-top: solid var(--light-color) 1px;
        }
      }

      &:not(.show) {
        display: none;
      }
    }

    .toggler {
      display: block;
    }
  }
}

@media screen and (min-width: 577px) {
  .toggler {
    display: none;
  }

  .navbar-items {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    column-gap: 0.5rem;

    .nav-item:not(:first-child) {
      border-left: solid var(--light-color) 1px;
      padding-left: 0.5rem;
    }
  }
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
