<nav id="navbar" class="navbar" (appClickOutside)="onClickOutside()">
  <button id="toggler" class="toggler" (click)="onToggle()">Menu</button>
  <div class="navbar-items" [class.show]="showMenu">
    <app-menu-item
      id="item-{{ item.label }}"
      class="nav-item"
      *ngFor="let item of menuItems"
      [item]="item"
      (itemClicked)="onItemClick()"
    ></app-menu-item>
  </div>
</nav>
