/* You can add global styles to this file, and also import other style files */
:root {
  --main-font: "Source Sans Pro", "Segoe UI", Roboto, "Helvetica Neue";
  --main-font-size: 1rem;
  --main-font-weight: 400;
  --main-line-height: 1.5;
  --dark-color: rgb(52, 49, 47);
  --light-color: rgba(245, 245, 245, 0.884);
  --darker-light-color: rgba(245, 245, 245, 0.6);
  --xsm-breakpoint: 420px;
  --sm-breakpoint: 576px;
  --md-breakpoint: 768px;
  --lg-breakpoint: 992px;
  --xl-breakpoint: 1200px;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  line-height: var(--main-line-height);
}

a,
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
